###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define the hosts

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the generic-host host template definition.
        host_name              aegean.ee.ic.ac.uk
        alias                  aegean
        address                155.198.117.22
        }

        
define host{
        use                     linux-server            ; Name of host template to use
                                                        ; This host definition will inherit all variables that are defined
                                                        ; in (or inherited by) the generic-host host template definition.
        host_name              troy.ee.ic.ac.uk
        alias                  troy
        address                155.198.117.176
        }       

define host{
        use                     linux-server            ; Name of host template$
                                                        ; This host definition $
                                                        ; in (or inherited by) $
        host_name              san.ee.ic.ac.uk
        alias                  san
        address                155.198.130.136 
        }

define host{
        use                     linux-server            ; Name of host template$
                                                        ; This host definition $
                                                        ; in (or inherited by) $
        host_name              cpn2.ee.ic.ac.uk
        alias                  cpn2
        address                155.198.117.154
        }

define host{
        use                     linux-server            ; Name of host template$
                                                        ; This host definition $
                                                        ; in (or inherited by) $
        host_name              bubbles.ee.ic.ac.uk
        alias                  bubbles
        address                155.198.130.3
        }

define host{
        use                     linux-server            ; Name of host template$
                                                        ; This host definition $
                                                        ; in (or inherited by) $
        host_name              blossom.ee.ic.ac.uk
        alias                  blossom
        address                155.198.114.14
        }




###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  ISN-Linux-Servers ; The name of the hostgroup
        alias           ISN Linux Servers ; Long name of the group
        members         cpn2.ee.ic.ac.uk,aegean.ee.ic.ac.uk,troy.ee.ic.ac.uk,san.ee.ic.ac.uk,bubble.ee.ic.ac.uk,blossom.ee.ic.ac.uk     ; Comma separated list of hosts that belong to this group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       aegean.ee.ic.ac.uk
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       troy.ee.ic.ac.uk
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       san.ee.ic.ac.uk
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       cpn2.ee.ic.ac.uk
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       bubbles.ee.ic.ac.uk
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       blossom.ee.ic.ac.uk
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        }




# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       aegean.ee.ic.ac.uk
        service_description             SSH
	check_command			check_ssh
	notifications_enabled		1
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       troy.ee.ic.ac.uk
        service_description             SSH
        check_command                   check_ssh10022
        notifications_enabled           1
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       san.ee.ic.ac.uk
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       cpn2.ee.ic.ac.uk
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       bubbles.ee.ic.ac.uk
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
        }

define service{
        use                             generic-service         ; Name of servi$
        host_name                       blossom.ee.ic.ac.uk
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
        }


# Check HTTP

define service{
        use                             generic-service         ; Name of servi$
        host_name                       san.ee.ic.ac.uk
        service_description             HTTP
        check_command                   check_http
        notifications_enabled           1
        }


define service{
        use                             generic-service         ; Name of servi$
        host_name                       cpn2.ee.ic.ac.uk
        service_description             HTTP
        check_command                   check_http
        notifications_enabled           1
        }

